%h1 View Contact
%div
  %b
    %label First name:
  = resource.first_name
%div
  %b
    %label Last name:
  = resource.last_name
%div
  %b
    %label Phones:
  = resource.phones.join('; ')
%div
  %b
    %label Emails:
  = resource.emails.join('; ')
%br
%br
%a{href: contacts_path} contacts
|
%a{href: edit_contact_path(resource)} edit